body{
    font-family: 'Inter', sans-serif;
    margin: 0%;
    margin-top: 0%;
    padding: 0%;
}

#bold-text{
    width: 700px;
    text-align: center;
    font-size: 65px;
    color: white;
}

p{
    font-family: sans-serif;
    font-size: 18px;
}
.white-text{
    color: white;
}

.background-photo{
    background-image: url(images/hero-image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 200px;
    color: #FAFAFA;
    background-position: middle;
    margin-bottom: 120PX;
}

#color-change{
    color: white;
     font-weight: 400;
}

.Donate-Today{
    text-align: center;
    font-size: 45px;
    font-weight: bold
}

.Donate-Today p {
    color: #707070; 
    font-weight: 400;
}

.deposit{

    display: inline-flex
}

.our-system{

    display: inline-flex;
    width: 1300px;
    background-color: white;
}

.our-system-details{
    padding: 20px 40px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ebebeb;
    font-size: 30px;
    border-radius: 6%;
}

.our-system-center-align{
    text-align: center ;
    margin-top: 150px;
    color: black;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    width: 360px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
    border: 5px solid rgb(240, 116, 0);
    vertical-align: middle;
    border-radius: 5px;
}

.deposit-one{
    padding: 20px 40px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FAFAFA;
    color: #707070;
    font-size: 30px;
    border-radius: 6%;
}

.orange-color{
    color: #FF5959;
}

.bg-orange{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;

}
input[type=text] {
    border: none;
    border-bottom: 2px solid #DADADA;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 18px;
    text-align: center;
    width: 765px;
    color: #B3B3B3;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

button{

    padding: 16px 20px;
    background-color: #FF5959;
    color: white;
    border: 1px solid #FF5959;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 5px;
    margin-bottom: 100px;
}

.Space{
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 80px;
}

.Left-align{
    text-align: left ;
    color: black;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    width: 360px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
    background-color: #4f9da644;
    vertical-align: middle;
    border-radius: 5px;
}

.blue{
    background-color: #4f9da623;
}

.pink{

    background-color: #ff595923;

}

.yellow{

    background-color: #fff4d685;
}

.plan{
    margin-top: 130px;
}

.half-width{
    width: 50%;
     
}

.half-width img{
    width: 50%;
    width: 110%;
     
}

.content-left{
    align-items: left;
    text-align: left;
    margin-right: 140px;
}

.content-right{
    align-items: left;
    text-align: left;


}


.yellow-bg{

    background-color: #FFF4D6;
    padding-top: 120px;
    padding-bottom: 50px;
    height: 200px;
    width: 1500px;
    display: inline-block;
    margin-top: 50px;

}



input[type=email] {
    border: 2px solid #DADADA;
    font-size: 28px;
    text-align: center;
    padding: 12px 12px;
  }

  input[type=submit] {
    padding: 15px 15px;
    background: #FF5959;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: -20px;
    color: white;
  }

  .last-section{

    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;

  }