body{
    font-family: 'Inter', sans-serif;
    margin: 0%;
    margin-top: 0%;
    padding: 0%;
}

#bold-text{
    width: 700px;
    text-align: center;
    font-size: 65px;
    color: white;
}

p{
    font-family: sans-serif;
    font-size: 18px;
}
.white-text{
    color: white;
}

.background-photo{
    background-image: url(images/hero-image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 200px;
    color: #FAFAFA;
    background-position: middle;
    margin-bottom: 120PX;
}
.white-pp{
    color: #DADADA;
}

.Donate-Today{
    text-align: center;
    font-size: 45px;
    font-weight: bold
}

.Donate-Today p {
    color: #707070; 
    font-weight: 400;
}

.deposit{

    display: inline-flex
}

.deposit-one{
    padding: 20px 40px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #FAFAFA;
    color: #707070;
    font-size: 30px;
    border-radius: 6%;
}

.orange-color{
    color: #FF5959;
}

.bg-orange{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;

}

.input-from{

    border-bottom: 2px solid #DADADA;
    width: 800px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}
button{

    padding: 16px 20px;
    background-color: #FF5959;
    color: white;
    border: 1px solid #FF5959;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 5px;
    margin-bottom: 100px;
}

.Space{
    padding-left: 160px;
    padding-right: 160px;
}

.Left-align{
    text-align: left ;
    color: black;
    font-size: 24px;
    font-weight: 600;
    width: 360px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 10px;
    background-color: #4f9da644;
    vertical-align: middle;
    border-radius: 5px;
}

.blue{
    background-color: #4f9da623;
}

.pink{

    background-color: #ff595923;

}

.yellow{

    background-color: #fff4d685;
}

.plan{
    margin-top: 130px;
}